@import "../config/global-props.css";
@import "../config/theme.css";

/**********************************************************/
/*                     Variables                          */
/**********************************************************/

:root {
  /* Background Colors */
  --clr-bg-top-bar: var(--background-900);
  --clr-bd-top-bar: var(--background-950);

  /* Top Bar */
  --tp-login-padding-inline: auto auto;
  --tp-bd-thickness: 0.15ch;
  --tp-bd-wideness: 100%;
}

/**********************************************************/
/*                     Blocks                             */
/**********************************************************/

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-sm);

  background-color: var(--clr-bg-top-bar);
  /* border-bottom: var(--tp-bd-thickness) solid var(--clr-bd-top-bar); */

  font-family: var(--ff-default);
  line-height: var(--lh-default);

  z-index: 4;

  > * {
    color: var(--clr-f-tp);
  }
}

.top-bar:after {
  content: "";
  background: var(--clr-bd-top-bar);
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--tp-bd-thickness);
  width: var(--tp-bd-wideness);
}

.top-bar a:not(.u-button) {
  font-size: var(--fs-link);
  color: var(--clr-f-tp);
}

.top-bar a:not(.u-button):hover {
  color: var(--clr-f-tp);
}

.top-bar a:not(.u-button):focus {
  color: var(--primary-100);
}

.top-bar__logo {
  font-weight: var(--fw-bolder);
  font-size: var(--fs-subheading);

  flex: 1;

  text-wrap: no-wrap;
}

.top-bar__navigation {
  display: flex;
  list-style: none;
  gap: var(--spacing-md);

  flex-shrink: 0;
}

.top-bar__login {
  flex: 1;
  text-align: end;
}

